@import 'tailwindcss/base';
@import 'fonts.postcss';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
	.link {
		@apply text-blue-500 font-semibold hocus-visible:text-blue-700 transition;
	}
}
